
@{
    ViewData["Title"] = "فراموشی کلمه عبور";
}

<div class="container"><!----- Start forget password box ----->
        <div class="row d-flex justify-content-center">

            <div class="col-lg-7 col-xl-6 col-md-9 register">

                <div class="card my-5">

                    <div class="card-body">
                        <h5 class="shadow-sm text-center mb-4 py-3">بازیابی رمز عبور</h5>

                        <form method="post" action="ForgetPassword" asp-antiforgery="true">
                
                            <div class="form-group">
                                <label for="email"> ایمیل : </label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text  my-icon"> <i class="fa fa-envelope align-middle"></i></span>
                                    </div>
                                    <input type="email" name="email" id="email" class="form-control" placeholder=" ایمیل خود را وارد کنید" required>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block rounded-pill custom-btn font-13 mt-4">بازیابی رمز </button>
                                    
                        </form>
                       
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

