@using LearningWebSite.Core.ViewModel.Users
@model UserEditViewModel
<br />
<div class="container">
    <div class="row d-felx justify-content-center align-items-center">
        <div class="col-9">
            <div class="card">
                <div class="card-header bg-primary text-light">
                    اطلاعات کاربر
                </div>
                <div class="card-body">
                    <h5 class="card-title">ویرایش کاربر جدید</h5>
                    <form method="post" asp-area="Admin" asp-controller="User" asp-action="EditUser" class="form">
                        <input hidden asp-for="Id"/>
                        <div class="card-primary">
                            <div class="card-body">
                                <div class="form-group">
                                    <label>ایمیل</label>
                                    <input type="email" value="@Model.Email" asp-for="Email" class="form-control form-control-sm">
                                </div>
                                <div class="form-group">
                                    <label class="form-check-label">حساب کاربری فعال باشد؟</label>
                                    <input type="checkbox" value="@Model.IsActive" asp-for="IsActive" class="form-check-inline">
                                </div>
                              
                                <div class="d-flex justify-content-between">
                                    <input type="submit" value="ذخیره اطلاعات" class="btn btn-success" />
                                    <a class="btn btn-warning mr-auto" asp-area="Admin" asp-controller="User" asp-action="Index">بازگشت</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
