@model IList<string>
@{
    ViewData["Title"] = "RoleList";
    Layout = "~/Areas/Admin/Views/Shared/_adminLayout.cshtml";
    int counter = 1;
}

<h1>RoleList @ViewBag.UserName</h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">نام نقش</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@counter</td>
                <td>@item</td>
                <td>
                    <form class="form-inline d-inline" asp-area="Admin" asp-controller="User" asp-action="DeleteRole" asp-route-Id="@ViewBag.Id" method="post">
                        <button type="submit" class="btn btn-danger">حذف</button>
                    </form>
                    <a class="btn btn-warning d-inline" href="/EditRole/@ViewBag.Id/@item">ویرایش</a>

                </td>
            </tr>
            counter++;
        }



    </tbody>
</table>