@using LearningWebSite.DataLayer.Entities.Users
@model CustomUser

@{
    ViewData["Title"] = "تغییر کلمه عبور";
    Layout = null;
    var url = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.PathBase}";
}


<div style="direction: rtl; padding: 20px">
    <h2>@Model.FirstName @Model.LastName عزیز !</h2>
    <h3> جهت تغییر کلمه عبور بر روی <a href="https://localhost/ResetPassword/@Model.Id">لینک</a> کلیک بفرمایید.</h3>
</div>


