@using LearningWebSite.DataLayer.Entities.Users
@model CustomUser

@{
    ViewData["Title"] = "تغییر کلمه عبور";
    Layout = null;
}


<div style="direction: rtl; padding: 20px">
    <h2>@Model.FirstName @Model.LastName عزیز !</h2>
    <h4> جهت تغییر کلمه عبور بر روی <a href="http://localhost:17109/ResetPassword/@Model.Id">لینک</a> کلیک بفرمایید.</h4>

</div>


