
@{
    ViewData["Title"] = "Success";
}
@if (ViewBag.Success != false)
{

    <div class="row">
        <div class="container">
            <p>ثبت نام در سايت</p>
            <div class="alert alert-success">
                <p>
                    ثبت نام شما با موفقیت در سایت انجام شد.
                </p>
            </div>
        </div>

    </div>
}
